<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true"
         executionOrder="random">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integrations">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENV" value="testing" />
        <const name="APP_VERSION" value="0.4.0" />
    </php>
</phpunit>
